body{
    display: grid;
    margin: 0;
    min-height: 100vh;
    place-items: center;
    background-color: rgb(55, 55, 93);
}

.formpanel{
    display: none;
}
@media (min-width: 600px) {
    .formpanel.is-open{
        border-radius: 15px;
        padding: 25px;
        display: grid;
        width: min(90vw, 800px);
        height: min(59.3vw, 500px);
        grid-template-columns: 1.5fr min(40vw, 335px);
        background-color: white;
        gap: 35px;
    }
}

.formpanel.is-succeed{
    border-radius: 15px;
    padding: 25px;
    height: min(90vw, 300px);
    width: min(90vw, 300px);
    display: grid;
    background-color: white;
    gap: 2px;
}

.sign-up-ill-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.subintro{
    display: grid;
    grid-template-rows: 150px 90px auto;
}
.subintro h1{
    margin: 0;
    padding-top: 35px;
}
.subintro h1{
    margin: 0;
}
.subintro .introlist{
    display: grid;
    grid-template-columns: 16px auto;
}
.subintro .introlist img{
    border-radius: 50%;
    height: 16px;
    width: 16px;
}
@media (min-width: 500px){
    .subintro form{
        margin-top: 30px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        justify-content: stretch;
    }
}
.email-box{
    width: 98%;
    height: 40px;
    margin: 0;
    font-size: large;
}
.sub-btn{
    margin: 0;
    height: 40px;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: rgb(19, 13, 56);
    border-radius: 3px;
}
.sub-btn:hover{
    background-color: rgba(238, 62, 23, 0.918);
}

#dismiss_suc_msg{
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: rgb(19, 13, 56);
    border-radius: 3px;
}
#dismiss_suc_msg:hover{
    background-color: rgba(238, 62, 23, 0.918);
}

.attribution { font-size: 11px; text-align: center; }
attribution a { color: hsl(228, 45%, 44%); }